<citizens>
<div th:if="${not #lists.isEmpty(citizens)}">
    <table class="table">
        <thead>
        <tr>
            <th>CitizenID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Blood Type</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="citizen : ${citizens}">
            <td th:text="${citizen.citizenID}"></td>
            <td th:text="${citizen.firstName}"></td>
            <td th:text="${citizen.lastName}"></td>
            <td th:text="${citizen.age}"></td>
            <td th:text="${citizen.phoneNumber}"></td>
            <td th:text="${citizen.bloodType}"></td>
            <td th:text="${citizen.email}"></td>
            <td>
                <a th:href="@{'/citizens/details/' + ${citizen.citizenID}}">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${ #lists.isEmpty(citizens)}">
    No Citizens found!
</div>
<a href="/citizens/register" class="btn btn-primary" role="button">Create New Citizen</a>
</citizens>
