<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<!-- Include the menu fragment -->
<div th:insert="fragments/menu :: menu"></div>

<main>
    <div class="container">
        <h4>Add Donation Information</h4>
        <!-- Form to add donation details -->
        <form th:action="@{/blooddonations/addDonation}" th:object="${donation}" method="post">
            <div class="form-group">
                <label for="location">Donation Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" th:field="*{location}" required>
            </div>
            <div class="form-group">
                <label for="info">Donation Information</label>
                <textarea class="form-control" id="info" name="info" rows="3" placeholder="Enter donation details" th:field="*{info}" required></textarea>
            </div>
            <!-- Additional fields as necessary -->
            <!-- ... -->
            <button type="submit" class="btn btn-success">Add Donation</button>
        </form>
    </div>
</main>

<!-- Include the footer fragment -->
<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript">
</script>
</body>
</html>
