 <!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/citizen-menu :: menu}"></div>
<main class="container">
    <h2>Application Unsuccessful!</h2>
    <p>Sorry, you can't apply for a new donation yet.</p>
     Link to the login page -->
    <!--  <a th:href="@{/bloodDonations/my-applications}" class="btn btn-primary">View your application status</a>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
